body {
	margin: 0;
	overflow: hidden;
}

.game-holder {
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
}

.world {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.splash-holder{
	position: absolute;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;

}

.ruletitle {
	font-size: 12px;
	color:#AAAAAA;
}

.rules {

	color:#AAAAAA;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	letter-spacing: 1px;
	font-weight: normal;
}

.rules li {
	margin-top: 10px;
}


.splash {
	position: relative;
	margin: auto;
	width: 300px;
	background: white;
	z-index: 100;
	background-color: rgba(50,50,50,0.75);
	border-radius: 10px 10px 10px 10px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 3px;
	color: white;
	padding: 10px;
}

.splash input {
	text-align: center;
	width: 140px;
}

.splash button {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.7em;
	text-transform: uppercase;
	width: 90px;
	height: 30px;
	border-radius: 10px 10px 10px 10px;
}

.splash div {
	margin-top: 20px;
	margin-bottom: 20px;
}

.signin {
	width: 220px; 
	height: 24px;
}

.player-name {
	position: absolute;
	color: #999999;
	top: 200px;
	left: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 0.7em;
}

.debug {
	position: absolute;
	bottom: 15px;
	right: 15px;
	padding: 1px;
	text-align: right;
	color: #777777;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 0.8em;
}

.error {
	display: none;
}

.error-text {
	font-size: 10px;
}


.score-board-holder {
	position: absolute;
	width: 100%;
	bottom:20px;
	height:20px;
}

.score-board {
	position: relative;
	width: 50%;
	left:25%;
	height:100%;
	border: 1px solid #CCCCCC;
	background: #CCCCCC;
}

.score-divider {
	position: absolute;
	width:0px;
	left:50%;
	height:100%;
	border-right:1px solid black; 
	border-left:1px solid black;
	z-index: 10;
}

.score-chunk{
	position: absolute;
	height:100%;
}

.red
{
	width:0.0%;	
	left:0%;
	background: #ff0427;
	
}

.blue
{	
	width:0.0%;
	left:100.0%;
	background: #046eff;
}




.leader-board {
	position: absolute;
	top: 0px;
	right: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	padding: 10px;
}

.leader-board table {
	text-align: center;
}

.header {
	position: absolute;
	top: 8vh;
	left: 0;
	width: 100%;
	text-align: center;
	pointer-events: none;
}

.header h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 4.5em;
	line-height: 1;
	margin: 0;
	letter-spacing: -0.025em;
	color: #d1b790;
}

.header h1 span {
	font-size: 0.2em;
	font-style: italic;
	display: block;
	margin: 0 0 -1.5em -7em;
	letter-spacing: 0px;
}

.header h2 {
	font-size: 0.585em;
	margin: 0.25em 0;
	white-space: nowrap;
	text-indent: 1em;
	letter-spacing: 1em;
	text-transform: uppercase;
	color: #d6483b;
}

.mini-ui {
	position: absolute;
	bottom: 0px;
	z-index: 10000;
	left: 0px;
	padding: 3px 13px 3px 3px;
	text-align: left;
	white-space: nowrap;
	border: 0px;
	background-color: rgba(50,50,50,0.75);
	border-radius: 0px 10px 0px 0px
}

.ui_block {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	text-align: left;
}

.ui_title {
	margin-top: 5px;
	font-size: 20px;
	position: relative;
	text-align: center;
	letter-spacing: 3px;
	color: white;
}

.ui_label {
	font-size: 9px;
	position: relative;
	margin-top: 2px;
	text-align: left;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: white;
}

.ui_value {
	font-weight: bold;
	color: white;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

